.cartIcon {
    font-size: 2.8em;
    padding: 10px;
    position: absolute;
    right: 20%;
    top: 6px;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.cartIcon:hover {
    color: black;
    background-color: white;
}