.ItemCountContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.ItemCountContainer div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ItemCountContainer div button {
    border: none;
    background-color: transparent;
    color: black;
}

.ItemCountContainer button {
    background-color: cadetblue;
    color: white;
    font-size: 1.4em;
    border: none;
    border-radius: 10px;
}
